<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test v2</title>

    <!-- Loads the path to your static files -->
    {% load static %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Google Font - Pacifico -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'gov/style.css' %}" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fuild">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collage" data-target="#topNavBar">
                    <!-- When screen is small display nav icon -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'gov:index' %}">Test</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'gov:index' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Lease
                        </a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="">
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp; Rent:
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'gov:gov-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Data
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'gov:upload_csv' %}">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; File
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    {% block body %}
    {% endblock %}

</body>

</html>