{% extends 'gov/base.html' %}

{% block body %}

<center><h2>Lease Start Date between 1 June 1999 and 31 Aug 2007</h2></center>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Property Address [1]</th>
            <th>Property Address [2]</th>
            <th>Property Address [3]</th>
            <th>Property Address [4]</th>
            <th>Unit Name</th>
            <th>Tenant Name</th>
            <th>Lease Start Date</th>
            <th>Lease End Date</th>
            <th>Lease Years</th>
            <th>Current Rent</th>
        </tr>
    </thead>
    <tbody>

        {% for data in all_data %}
        <tr>
            <td>{{ data.property_name }}</td>
            <td>{{ data.property_address1 }}</td>
            <td>{{ data.property_address2 }}</td>
            <td>{{ data.property_address3 }}</td>
            <td>{{ data.property_address4 }}</td>
            <td>{{ data.unit_name }}</td>
            <td>{{ data.tenant_name }}</td>
            <td>{{ data.lease_start_date | date:"d/m/Y" }}</td>
            <td>{{ data.lease_end_date | date:"d/m/Y"}}</td>
            <td>{{ data.lease_years }}</td>
            <td>{{ data.current_rent }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}